[submodule "Perception"]
	path = Perception
	url = https://github.com/DriveAI/Perception.git
[submodule "src/Perception"]
	path = src/Perception
	url = https://github.com/DriveAI/Perception.git
[submodule "Tools"]
	path = Tools
	url = https://github.com/Parth-Mehrotra/Tools.git
[submodule "src/Actuation"]
	path = src/Actuation
	url = https://github.com/DriveAI/Actuation.git
