[submodule "src/perception"]
	path = src/perception
	url = https://github.com/DriveAI/perception.git
[submodule "Tools"]
	path = Tools
	url = https://github.com/Parth-Mehrotra/Tools.git
[submodule "src/actuation"]
	path = src/actuation
	url = https://github.com/DriveAI/actuation.git
[submodule "src/navigation"]
	path = src/navigation
	url = https://github.com/DriveAI/navigation.git
[submodule "src/path_planning"]
	path = src/path_planning
	url = https://github.com/DriveAI/PathPlanning.git
